:root {
    --choices-plus-button-color: #fff;
    --choices-plus-summary-button-color: rgba(0, 0, 0, 0.247);
    --choices-plus-button-active-color: rgb(28, 124, 235);
    --choices-plus-button-hover-color: rgb(132, 208, 252);
    --choices-plus-background-color: rgb(0, 0, 0);
    --choices-plus-font-color: #000;
}

#choices-plus-dialog {
    color: var(--choices-plus-font-color);
    background-color: var(--choices-plus-background-color);
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#choices-plus-dialog .choices-plus-container {
    background-color: var(--choices-plus-background-color);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
}
#choices-plus-dialog #choices-plus {
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 10;
    opacity: 0.8;
    overflow-y: auto;
}

#choices-plus-dialog .choices-plus-container h1 {
    text-align: center;
    font-size: xxx-large;
    border: none;
    padding: calc(4% - 0.5em) 0;
    z-index: 1;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.247);
}
#choices-plus-dialog .choices-plus-container .choices-plus-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border: none;
    border-radius: 20px;
}
#choices-plus-dialog .choice-plus {
    background-color: var(--choices-plus-button-color);
    width: 40%;
    aspect-ratio: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 2%;
    cursor: pointer;
    font-size: x-large;
    position: relative;
}

#choices-plus-dialog .choice-plus.choice-plus-active,
#choices-plus-dialog .choice-plus.choice-plus-active:hover {
    background-color: var(--choices-plus-button-active-color);
}

#choices-plus-dialog .choice-plus:hover {
    background-color: var(--choices-plus-button-hover-color);
}

#choices-plus-dialog .choice-plus-chosen {
    display: flex;
    justify-content: center;
    max-height: 50%;
    height: 50%;
    width: 100%;
    position: absolute;
    gap: 5%;
    transform: translateY(-100%);
    z-index: 2000;
}

#choices-plus-dialog .choice-plus-chosen img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    padding-top: 100;
    aspect-ratio: 1 / 1;
}

#choices-plus-dialog .choice-plus-portraits-container {
    display: flex;
    justify-content: center;
    max-height: 100%;
    height: 100%;
    width: 100%;
    gap: 5%;
    z-index: 2000;
}

#choices-plus-dialog .choice-plus-portraits-container img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    padding-top: 100;
    aspect-ratio: 1 / 1;
}

#choices-plus-dialog .choice-plus-text {
    z-index: 1;
    text-transform: uppercase;
}

#choices-plus-dialog .choice-plus-summary {
    background-color: var(--choices-plus-summary-button-color);
    /*width: 100%;*/
    aspect-ratio: 5;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 2%;
    cursor: pointer;
    position: relative;
    max-height: 20%;
}

#choices-plus-dialog .choice-plus-summary-text {
    z-index: 1;
    overflow: auto;
}

#choices-plus-dialog .gm-buttons,
#choices-plus-dialog .player-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 5%;
    margin-right: 5%;
}

#choices-plus-dialog .gm-buttons button,
#choices-plus-dialog .player-buttons button {
    border: none;
    height: 100%;
    max-width: 10%;
    font-size: xx-large;
    max-width: 2em;
}

#choices-plus-dialog .gm-buttons button:hover,
#choices-plus-dialog .player-buttons button:hover {
    border: none;
    filter: brightness(130%);
    box-shadow: none;
}

#choices-plus-dialog .gm-buttons button:focus,
#choices-plus-dialog .player-buttons button:focus {
    box-shadow: none;
    border: none;
}

#choices-plus-dialog .gm-buttons button:first-child,
#choices-plus-dialog .player-buttons button:first-child {
    background-color: greenyellow;
}

#choices-plus-dialog .gm-buttons button:last-child,
#choices-plus-dialog .player-buttons button:last-child {
    background-color: rgb(255, 81, 81);
}

#choices-plus-dialog .timer {
    left: auto;
    right: auto;
    top: 20px;
    margin: 20px;
    background-color: var(--choices-plus-button-color);
    border-radius: 50%;
    font-size: xx-large;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    align-self: center;
    opacity: 0.8;
}

#choices-plus-dialog .portraits-container {
    z-index: 1;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: space-evenly;
    overflow: hidden;
}

#choices-plus-dialog .portrait-image {
    height: 70%;
    border: none;
    object-fit: contain;
    object-position: bottom;
    animation: choicesPlusFadeIn 0.7s ease-in-out;
}

/** support button choice image background */

/* #choices-plus .choice-plus.choice-plus-with-background {
    overflow: hidden;
    position: relative;
} */

#choices-plus .choice-plus.choice-plus-with-background .choice-plus-image {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
}

#choices-plus .choice-plus.choice-plus-with-background .choice-plus-text {
    position: relative;
}

/** support button choice disable utility https://jsfiddle.net/rwhal06/jEGpv/297/ */

#choices-plus .choice-plus.choice-plus-disable {
    overflow: hidden;
}

#choices-plus .choice-plus.choice-plus-disable .x-overlay,
#choices-plus .choice-plus.choice-plus-disable .x-emoji-overlay {
    position: relative;
}
#choices-plus .choice-plus.choice-plus-disable .x-overlay:after,
#choices-plus .choice-plus.choice-plus-disable .x-emoji-overlay:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: red;
    text-align: center;
}

#choices-plus .choice-plus.choice-plus-disable .x-overlay:after {
    content: "\d7";
    font-size: 54px;
    line-height: 18px;
    opacity: 0.7;
}

#choices-plus .choice-plus.choice-plus-disable .x-emoji-overlay:after {
    content: "\274c";
    padding: 3px;
    font-size: 27px;
    line-height: 18px;
    opacity: 0.5;
}

#choices-plus .choice-plus.choice-plus-disable .strike {
    position: relative;
    display: inline-block;
}

#choices-plus .choice-plus.choice-plus-disable .strike::before {
    content: "";
    border-bottom: 2px solid red;
    width: 110%;
    position: absolute;
    left: -2px;
    top: 46%;
}

#choices-plus .choice-plus.choice-plus-disable .crossed-out {
    position: relative;
    display: inline-block;
}

#choices-plus .choice-plus.choice-plus-disable .crossed-out::before,
#choices-plus .choice-plus.choice-plus-disable .crossed-out::after {
    content: "";
    width: 110%;
    position: absolute;
    left: -5%;
    top: 45%;
    opacity: 0.7;
}

#choices-plus .choice-plus.choice-plus-disable .crossed-out::before {
    border-bottom: 6px solid red;
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
}

#choices-plus .choice-plus.choice-plus-disable .crossed-out::after {
    border-bottom: 6px solid red;
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
}

@keyframes choicesPlusFadeIn {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.macro-sheet .form-group.command .choices-plus-improved-macro-editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
}

div.choices-plus-toggle-disposition .choices-plus-dispositions {
    visibility: hidden;
    position: absolute;
    left: -40px;
    top: 0px;
    padding: 3px;
}
